
body{
    margin-top: 30px;

}

.headerdiv{
    margin-bottom: 10px;
}

.myfont{
    font-size: 15px;
    font-weight: bold;
}

.toplinks li{
    text-decoration: none;
    list-style-type: none; 
}
.toplinks a{
    display: inline;
    text-decoration: none;
    color: black;
}
.unstyle a{
    text-decoration: none;
    color:black;
    list-style-type: none;
}

.white{
    color: white;
}


.nav.navbar-nav li a{
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
}

.nav.navbar-nav li a:hover{
    background-color: gray;
}


.bolder{
    font-size: x-large;
}


.red{
    color:#cd2418;
    font-size: 20px;
}

h4{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    color:#cd2418;
}

h1{
    font-weight: bold;
    color: #cd2418;
}

.redall{
    background-color: #cd2418;
}

.form-control{
    background-color: lightgray;
}


.mycarousel{ 
    width: 400px;
    margin-bottom: 10px;
    /*background-color: rgba(205,36,24,0.9);*/
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
   color: #cd2418;
   height: 250px;
}

.glyphicon.glyphicon-chevron-left, .glyphicon.glyphicon-chevron-right{
    font-size: 50px;
}
 
.carousel-inner > .item > img{
width:350px; 
margin-bottom: 15px;
}

.GCaccordion{
    width: 400px;
    margin-bottom: 25px;
    padding: 10px;
}

.aligntext{
    text-align: center;
}

.formwrapper{
    width: 600px;
}

input.ng-dirty {
    background-color:#ff8080;
}
input.ng-valid {
    background-color:#a7f1a7;
}

.green{
    color:green;
    font-size: 20px;
}

.footer{
    position: relative;
    top: 300px;
}

